* {
    margin: 0;
}

body {
    min-width: 100%;
    min-height: 100%;
}

body, html {
    height: 100%;
}

#login-logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
}

#login-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 380px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#login-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#login-input-field {
    margin-top: 20px;
    padding: 16px;
}

#login-email-input,
#login-password-input {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-button {
    display: block;
    border-radius: 15px;
    height: 50px;
    width: 50%;
    margin: 30px auto 0 auto;
    background-color: green;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-transform: uppercase;
}

#login-button:hover {
    background-color: rgb(9, 121, 57);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#dashboard-container {
    width: 100%;
    height: 100%;
    background-color: grey;
}

#dashboard-news-card,
#dashboard-sites-card,
#dashboard-foods-card,
#dashboard-histories-card,
#dashboard-wallpaper-card {
    display: inline-block;
    height: 50%;
    opacity: 0.5;
}

#dashboard-news-card:hover,
#dashboard-sites-card:hover,
#dashboard-foods-card:hover,
#dashboard-histories-card:hover,
#dashboard-wallpaper-card:hover {
    opacity: 1;
}

#dashboard-news-card {
    background-color: blue;
    width: 50%;
}

#dashboard-sites-card {
    background-color: purple;
    width: 50%;
}

#dashboard-foods-card {
    background-color:  darkgreen;
    width: 33.33%;
}

#dashboard-histories-card {
    background-color: brown;
    width: 33.33%;
}

#dashboard-wallpaper-card {
    background-color: teal;
    width: 33.33%;
}

.dashboard-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    text-align: center;
}